<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="css/style.css" type="text/css" />
		<title>News S-crap</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body>
		<div class="top">
			<div class="topLeft left">

			</div>
			<div class="topCenter middle">
				<h1>VIdeo Game Scrap</h1>
			</div>
			<div class="topRight right">
				
			</div>
		</div>
		<div class="center">
			<div class="centerLeft left">

			</div>
			<div class="centerCenter middle">
				{{{ body }}}
			</div>
			<div class="centerRight right">
				
			</div>
		</div>
		<div class="bottom">
			<div class="bottomLeft left">

			</div>
			<div class="bottomCenter middle">
				
			</div>
			<div class="bottomRight right">
				
			</div>
		</div>
	</body>
</html>
